<!doctype html>
<html ng-app="todo">
  <head>
	<title>Todos</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular-resource.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
    <script src="js/todo.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/todo.css" rel="stylesheet">
  </head>
  <body>
    <div>
      <h2>MioEdge Todos</h2>
      <div class="panel" ng-controller="TodoCtrl">
        <p class="panel-heading"><span>{{remaining()}} of {{total()}} remaining</span>
        [ <a href="" ng-click="archive()">Archive</a> ]</p>
        <ul class="list-group" ui-sortable="sortableOptions" ng-model="todos">
          <li class="list-group-item {{todo.state}}" ng-repeat="todo in todos | filter: {archived: 'false'}">
            <input id="todo-{{todo.id}}" type="checkbox" ng-model="todo.done" ng-change="change(todo)" ng-disabled="disabled(todo)">
            <label for="todo-{{todo.id}}" class="done-{{todo.done}}">{{todo.text}}</label>
          </li>
        </ul>
        <form class="form-inline" ng-submit="addTodo()">
          <input id="todo-input" class="form-control" type="text" ng-model="todoText" placeholder="Add new todo here">
          <input class="btn btn-primary" type="submit" value="Add">
        </form>
      </div>
    </div>
  </body>
</html>
