<!doctype html>
<html ng-app="signIn">
  <head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular-resource.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js"></script>
	<script src="js/miosoft.js"></script>
    <script src="js/sign-in.js"></script>
    <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="css/sign-in.css" rel="stylesheet">
  </head>
  <body>
    <div ng-controller="AuthenticationCtrl" class="hero-unit">
      <h2>Sign in</h2>
      <div>
        <form ng-submit="signIn()">
          <input type="email" ng-model="user.username" placeholder="email@example.com">
		  <input type="password" ng-model="password">
          <input class="btn-primary" type="submit" value="Sign in">
        </form>
      </div>
    </div>
  </body>
</html>
